* {
    margin: 0;
    padding: 0;
}
section {
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15%;
  }
  section.header {
    background-image: url(./AdobeStock_75562828.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #efefef;
    min-height: 550px;
  }
  .myWork {
    background: #efefef;
    padding-top: 10%;
    height: fit-content;
    min-height: 550px;
    padding-bottom: 10%
  }

  .content {
      position: absolute;
      left: 10%;
      margin: 0;
      padding: 20px;
      background: rgba( 0, 0, 0, 0.35 );
      backdrop-filter: blur( 8.5px );
      -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
      max-width: 634px;
      top: 20vh;

      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .heroText {
      font-style: normal;
      font-weight: bold;
      font-size: 3.5rem;
      margin: 0;
  }

  .subHeroText {
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 20px;
  }

  .heroParagraph {
      font-style: normal;
      font-weight: 500;
      font-size: 1.5rem;
      max-width: 55vw;
      height: auto;
      margin-top: 20px;
  }

  .bold {
      font-weight: bold;
  }

  .sectionHead {
      position: absolute;
      left: 10%;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 3rem;
      color: #303030;
  }

  /* Card Style */

  .wrap
{
  margin: 10% auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
  gap: 5%;
}
.tile
{
  width:380px;
  height:380px;
  margin:10px;
  background-color: #000000;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* image style */
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
  object-fit: cover;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
 
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h2
{
  font-weight:bold;
  margin:20px 0 0 0;
  font-style: normal;
   transform: translateX(200px);
}

.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: .66;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity: 1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}


@media (max-width: 1000px) {
  .wrap {
   flex-direction: column;
    width:400px;
  }
}

.navBar {
    position: absolute;
    top: 0;
    height: 10%;
    margin: 0;
    min-height: 66px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba( 0, 0, 0, 0.35 );
box-shadow: 32px, 0, 0, 0, rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8.5px );
-webkit-backdrop-filter: blur( 8.5px );
}

.navContainer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    color: #efefef;


    padding: 0 15px;
}

.navContainer:hover {
    color: violet;
}

.contact {
    font-weight: bold;
    background-color: #efefef;
    padding: 10px 15px;
    color: black;
    border-radius: 50px;
    margin-left: 40px;
}

.contact:hover {
    background-color: black;
    color: white;
}

.skills {
    display: flex;
    position: absolute;
    padding-top: 0;
    height: fit-content;
    padding-bottom: 10%;
}

.skillContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 10%;
    flex-wrap: wrap;
    padding: 0 10%;
    max-width: 1100px;
}

.skillItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.mySkill {
    margin-bottom: 50px;
}

body {
    background-color: #efefef;
}

.ai {
    background-image: url(./adobe-illustrator.png);
    background-size: cover;
    background-position: center;
}

.ps {
    background-image: url(./photoshop.png);
    background-size: cover;
    background-position: center;
}

.xd {
    background-image: url(./xd.png);
    background-size: cover;
    background-position: center;
}

.html {
    background-image: url(./htmlicon.png);
    background-size: cover;
    background-position: center;
}

.css {
    background-image: url(./css.png);
    background-size:cover;
    background-position: center;
}

.figma {
    background-image: url(./figmaicon.png);
    background-size: cover;
    background-position: center;
}

.js {
    background-image: url(./javaicon.png);
    background-size:cover;
    background-position: center;
}